@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

*{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------- Header ---------------------------------------------------------------*/
header nav{
    padding: 10px;
}
header nav ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
}
header nav ul li{
    margin: 10px 20px;
}
header nav ul li a{
    text-decoration: none;
    font-size: 18px;
}
header nav ul li .cv{
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 5px 15px;
    border-radius: 20px;
}
header nav ul:first-child{
    color: black;
    font-weight: 600;
}
header nav ul:first-child :hover{
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    color: gray;
    transition: 0.4s;
    font-weight: 700;
}
header nav ul li .cv:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}


/*---------------------------------------------------------------- Main ----------------------------------------------------------------*/
/* Animacion para la palabra en vertical */
@keyframes verticalAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(-150%);
        opacity: 0;
    }
    50% {
        transform: translateY(-150%);
        opacity: 0;
    }
    75% {
        transform: translateY(-150%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* Animacion para la palabra que se desvanece */
@keyframes desvanecePalabra {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*---------- Article 1 ----------*/
main .seccion1{
    text-align: center;
    margin-top: 50px;
}
main .seccion{
    text-align: center;
    margin-top: 50px;
}
#intro h1{
    font-size: 40px;
    margin: 15px 0px;
}
.word1{
    position: absolute;
    animation: verticalAnimation 4s infinite;
}
.word2{
    opacity: 0;
    animation: desvanecePalabra 4s infinite;
}
.vertical-animation span:last-child{
    margin-left: 25px;
}
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#intro .imagen{
    height: 250px;
    width: 250px;
    margin: 30px auto;
}
/*---------- Article 2 ----------*/
#intro2{
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}
.present{
    width: 60%;
    padding: 10px;
}
.present h3{
    font-size: 30px;
    margin: 100px 0px 30px 0px;
}
.present p{
    font-size: 20px;
    margin: 20px 0px;
    margin-bottom: 100px;
}
/*---------- Article 3 ----------*/
#skills{
    display: flex;
    margin-top: -50px;
    justify-content: space-around;
}
.division{
    width: 20%;
    background-color: white;
    border-radius: 20px;
}
.division img{
    margin: 20px 0px;
}
.division h4{
    margin: 0px 0px 15px;
}
.division ul{
    list-style-type: none;
}
.division ul li{
    margin: 10px 0px;
}
/*Proximamente, cuando aprenda Amazon Web Services*/
#devops{
    display: none;
}
/*---------- Article 3 ----------*/
.proyectos{
    background-color: gray;
    margin-top: -50px;
    padding: 160px 0px 30px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proyectos h2{
    margin: 0px 0px 40px 0px;
    font-size: 30px;
}
.proyectos a{
    text-decoration: none;
    background-color: white;
    padding: 5px 15px;
    margin: 20px;
    border-radius: 10px;
    color: black;
    font-size: 25px;
}
.proyectos a:hover{
    transform: scale(1.1);
    background-color: black;
    transition: transform .2s, background-color .2s;
    color: white;
}
.proyects{
    display: flex;
    justify-content: center;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.proyect{
    margin: 10px 20px;
    padding: 10px;
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 2px 2px 4px black;
    background-color: whitesmoke;
}
.proyect h4{
    text-align: left;
    margin: 10px 20px;
}
.eskills{
    display: flex;
    justify-content: space-around;
}
.skill-on{
    padding: 5px;
    filter: drop-shadow(0px 2px 3px rgba(122, 122, 122, 0.9));
}
.skill-off{
    padding: 5px;
    display: none;
}
#intro2 a{
    text-decoration: none;
}











/*--------------------------------------------------------------- Footer ---------------------------------------------------------------*/

footer{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer-div{
    width: 30%;
    margin: 20px 0px;
}
.footer-div h3{
    text-align: center;
    margin-bottom: 10px;
}
hr{
    width: 60%;
    margin: 0px auto;
}
.footer-div img{
    height: 30px;
    width: 30px;
}
.footer-div ul li p{
    margin: 0px 0px 0px 5px;
}

#fd1 ul{
    display: block;
}
#fd1 li{
    margin: 10px 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
}
#fd1 ul li a{
    text-decoration: none;
    color: white;
}

.redes-imgs{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}